/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#02462a, #000000);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

#logo {
  padding: 30px 0 50px;
  text-align: center;
  color: white;
}

#logo img {
  width: 175px;
  height: auto;
}

#lista{
  list-style:none;
  padding-left: 0;
  width: 50vw;
}

.accordion {
  background: #F5BA0A;
  width: 100%;
  color: black;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  border: none;
  outline: none;
  border: none;
  outline: none;
  transition: background-color 0.4s;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.accordion:hover, .accordion.active {
  background-color: #D79000;
}

.panel {
  background-color: #FFE79E;
  display: none;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  margin-top: -7px;
  margin-bottom: 1%;
}

.linksgerais {
  display: block;
  color: black;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee7d1;
  transition: background-color 0.3s;
  text-align: center;
}

.linksgerais:hover {
  background-color: #f0d480;
}

.icon-bar {
  position: fixed;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: background-color 0.3s;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
  cursor: pointer;
}

.instagram {
  background: #ff0b7d;
}

.slider-container {
  width: 100%;
  max-width: 540px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
  display: block; /* Garante que os botões sejam exibidos inicialmente */
}

.prev { left: 10px; }
.next { right: 10px; }


@media (max-width: 768px) {
  .slider-container {
    max-width: 270px; /* Reduz a largura em telas pequenas */
  }
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}